.maindiv{
    width:30%;
    margin:auto;
    padding:1rem;
    border:1px solid black;
    margin-bottom:0.25rem;
    gap:1rem;
}
.image{
    width:10%;
    padding:2%;
}
.subdiv{
    display:flex;
    width:100%;
}